<div class="footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-lg-3">
            <ul class="icones">
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>  
            </ul>
        </div>
        <div class="col-lg-3">
            <p> Endereço: Avenida Paulista  </p>
            <p> São Paulo/SP </p>
           
        </div>
        <div class="col-lg-3">
            <p> Contato: (11) 99999-9999</p>
            <p> Telefone: (11) 99999-9999 </p>
            <p> Celular: (11) 99999-9999 </p>
            <p> E-mail: bridge@gmail.com </p>
        </div>
    </div>

    <hr>
      <p class="creditos">
      &copy; Grupo Minerva - Brasil - 2022
      </p>

</div>
