<app-navbar></app-navbar>

<br>

<div class="container my-4">
    <div class="row">

        <div class="col-12 col-lg-6 p-5">
            <img src="../../../assets/img/parceiras.png" width="100%" class="img-fluid">
        </div>

        <div class="col- col-lg-6 pt-3">
            <p class="lead text-muted text-center text-md-start mt-4"><h1>PARA EMPRESA:</h1>
                <br>
                <p>Cadastre seus cursos disponíveis em uma rede de alunos ativa.</p>
            
            <div [routerLink] = "['/cadastro-empresa']"class="mt-4">
              <button 
              class="btn btn-lg" style="background-color: #305b98;; color: #ffffff;; border: none;">Cadastrar</button> 
            </div>
            
            <br>
            
        </div>

    </div>
</div>

<div class="container my-4">
    <div class="row">

        <div class="col-12 col-lg-6 p-5">
            <img src="../../../assets/img/candidatos.png" width="100%" class="img-fluid">
        </div>

        <div class="col-12 col-lg-6 pt-5">
            <p class="lead text-muted text-center text-md-start mt-4"><h1>PARA CANDIDATO:</h1>
                <br>
                <p>A plataforma brigde reune em um só lugar os cursos fornecidos por diversas empresas para PCD. Venha conferir!</p>
            
            <div class="mt-4">
              <button 
              [routerLink] = "['/cadastro-candidato']"
              class="btn btn-lg" style="background-color: #305b98;; color: #ffffff;; border: none;">Cadastrar</button> 
            </div>
            
        </div>

    </div>
</div>

<br>

<app-footer></app-footer>
