<app-navbar></app-navbar>

<br>

<img class="rounded mx-auto d-block mt-3" id="home" src="../../assets/img/nett.jpeg" width="30%"/>

<div class="container-lg">
    <p>
      A plataforma brigde acredita que a inclusão é uma proposta para uma sociedade acessível, e a mesma ocorre quando aprendemos com as diferenças e não com as igualdades!
    </p>
</div>

<br>

<div class="container-lg">
  <p>Cursos disponíveis</p>
</div>

<app-carrossel-cursos></app-carrossel-cursos>

<div class="container-lg">
  <p>Empresas parceiras</p>
</div>

<app-carrossel-parceiras></app-carrossel-parceiras>

<br>

<app-footer></app-footer>
