<app-navbar></app-navbar>

<br>

<!-- <img class="rounded mx-auto d-block mt-3" id="home" src="../../assets/img/nett.jpeg" width="30%" />

<div class="container-lg">
  <p>
    A plataforma brigde acredita que a inclusão é uma proposta para uma sociedade acessível, e a mesma ocorre quando
    aprendemos com as diferenças e não com as igualdades!
  </p>
</div> -->

<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
              <div class="position-relative h-100">
                  <img class="img-fluid position-absolute w-100 h-100" src="../../assets/img/home.webp" alt="" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h6 class="section-title bg-white text-start text-primary pe-3">Sobre a plataforma</h6>
            <h1 class="mb-4">Bem-vindes à Plataforma Bridge!</h1>
            <p class="mb-4">A Plataforma Brigde acredita que a inclusão é uma proposta para uma sociedade acessível, e a mesma ocorre quando aprendemos com as diferenças e não com as igualdades!</p>
            <p class="mb-4">Oferecemos uma ponte entre pessoas com deficiência e empresas que possuam cursos de qualidade e com recursos de acessibilidade.</p>
            <a class="btn btn-primary py-3 px-5 mt-2" href="/quemsomos">Serviços</a>
        </div>
      </div>
  </div>
</div>

<br>

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Instrutores preparados</h5>
            <p>Com conhecimento em libras, Braille, entre outros.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">Recursos online</h5>
            <p>Materiais de qualidade disponíveis para estudo.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">Aulas à distância</h5>
            <p>Estude no conforto de casa ou em salas de aula preparadas.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Biblioteca virtual</h5>
            <p>Livros disponíveis para consulta durante e após os cursos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-lg">
  <p>Cursos disponíveis</p>
</div>

<app-carrossel-cursos></app-carrossel-cursos>

<div class="container-lg">
  <p>Empresas parceiras</p>
</div>

<app-carrossel-parceiras></app-carrossel-parceiras>

<br>

<app-footer></app-footer>