.row{
    
    width: 50%;
    margin-left: 25% ;
}
.column {
   
    width: 55%;
    padding: 37px;
    height: 50px;
    margin: 0 0 0 22.5%;
  }

  .tabela{
    padding-top: 5%;
    width: 80%;
    margin-left: 10% ;
  }