<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="../../../assets/img/bridge.2.png" alt="logo" width="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul>
          <li><a class="nav-link" href="/cursos">Cursos</a></li>
          <li><a class="nav-link" href="/cursos-pesquisar">Buscar Cursos</a></li>
          <li><a class="nav-link" href="#">Sair</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
